#stream-widget {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: none;
}
#stream-widget #header {
    height: 18px;
    position: relative;
}
#stream-widget #header #close-btn {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 18px;
    width: 18px;
}

#stream-widget #header #close-btn:after {
    content: "\00d7";
}
