#stream-widget {
    z-index: 100;
    position: fixed;
    right: 189px;
    bottom: 90px;
    display: none;
}
#stream-widget #header {
    height: 30px;
    position: relative;
}

#stream-widget iframe {
    border: 2px solid #00B285;
    border-radius: 10px;
}

#stream-widget #header #close-btn {
    position: absolute;
    right: 2px;
    bottom: 0;
    display: block;
    font-size: 28px;
    cursor: pointer;
}

#stream-widget #header #close-btn:after {
    content: "\00d7";
    color: #00B285;
}
